<form ng-submit="addSuggestion()">
  <h3 class="form-title">Ask the speaker</h3>
  <div class="boxes ask-box">
    <table>
      <tr>
        <td>
          <label for="username"><span class="fa fa-user" aria-hidden="true"></span><span class="blind">name</span></label>
        </td>
        <td>
          <input type="text" id="username" placeholder="Add your name" ng-model="name">
        </td>
      </tr>
      <tr>
        <td>
          <label for="question"><span class="fa fa-question-circle" aria-hidden="true"></span><span class="blind">question</span></label>
        </td>
        <td>
          <textarea id="question" rows="3" placeholder="Type your question" ng-model="title"></textarea>
        </td>
      </tr>
    </table>
    <div class="align-right">
      <button type="submit" class="btn btn-green">Sand</button>
    </div>
  </div>
</form>

<nav class="order-menu">
  <ul>
    <li class="order-menu01 on"><button type="button" ng-click="tab(1)">Popular</button></li>
    <li class="order-menu02"><button type="button" ng-click="tab(2)">Recent</button></li>
  </ul>  
</nav>

<div class="boxes question-box" ng-repeat="post in posts | orderBy:sort:true">
  <a href="#/suggestion/{{post.num}}">
    <h3>{{ post.name }}</h3>
    <h4>{{ post.title }}</h4>
  </a>
  <div class="upright">
    <span>
      {{ post.upvotes }}
      <button type="button" ng-click="upVote(post)"><span class="fa fa-thumbs-o-up" aria-hidden="true"></span><span class="blind">Upvotes</span></button>
    </span>
    <span>
      {{ post.comments.length }}
      <a href="#/suggestion/{{post.num}}">Comments</a>
    </span>
  </div>
</div>

